<h1>{{title}}</h1>

<div class="row">

   <h2>{{count.value}}</h2>

   <div class="col my-2">
     <h5>Setup</h5>
       <div class="btn-toolbar" role="toolbar" >
         <button type="button" class="btn btn btn-success me-2" (click)="play()">Start</button>
         <button type="button" class="btn btn btn-danger me-2" (click)="pause()">Pause</button>
         <button type="button" class="btn btn btn-warning me-2" (click)="reset()">Reset</button>
       </div>
   </div>

   <div class="col-md-12 my-3">
       <h5>Count: </h5>
       <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
         <button type="button" 
                 class="btn btn-primary me-1" 
                 (click)="countUp(true)">Count up
        </button>

         <button type="button" 
                 class="btn btn-primary ms-1" 
                 (click)="countUp(false)">Count down
          </button>
       </div>
   </div>

   <div class="row">
       <div class="col-md-2">
         <h5>Set to</h5>
         <input type="number" 
                class="form-control"
                [(ngModel)]="count.countValue"
                (keyup)="setTo()"
                >
      </div>
   </div>
   
  <div class="row">
    <div class="col-md-2">
      <h5>Step</h5>
      <input type="number" 
             class="form-control"
             [(ngModel)]="count.step"
             (keyup)="addStep()"
            >
    </div>
    <div class="col-md-9">
       {{ count | json}} 
    </div>
   
  </div>
    
 
  
</div>